{% extends 'base.html' %}

{% block title %}
School 30 garden portal homepage
{% endblock title %}

{% block header %}
<div class="header-container">
    <a href="{{ url_for('home') }}" class="logo logo-font ">
        <span class="logo-name">GARDEN</span>
        <div class="logo-number">
            <span class="mobile">/30</span>
            <span class="desktop">school 30</span>
        </div>
    </a>
    <input type="checkbox" name="menu" id="menu"/>
    <label class="menu" for="menu">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <nav class="title-font">
        <ul>
            <li><a href="{{ url_for('home') }}">home</a></li>
            <li><a href="{{ url_for('history') }}">history</a></li>
            <li><a href="{{ url_for('search') }}">search</a></li>
            <li><a href="{{ url_for('art') }}">art</a></li>
            <li><a href="{{ url_for('ideas') }}">ideas</a></li>
            <li><a href="{{ url_for('details') }}">details</a></li>
        </ul>
    </nav>
</div>
{% endblock header %}

{% block visual %}
<div class="visual-container">
    {% block drawing %}
    {% endblock drawing %}
</div>
{% endblock visual %}

{% block feedback %}
<div class="feedback-main text-font">
    <span>Tell us what you liked about this portal, what you didn't. Or maybe you have any ideas on how to make it better?</span>
    <button class="feedback-btn">Click me and see what happens</button>
</div>
{% endblock feedback %}

{% block footer %}
<div class="footer-main text-font">
    <span>2025, {svbabaya}</span>
    <span>Version: english</span>
</div>
<div class="footer-tape" id="footerTape">
    <div class="marquee text-font">
        <span>All images and videos are natural and obtained without the use of AI.</span>
    </div>
</div>
{% endblock footer %}

{% block js %}
    <script src="{{ url_for('static', path='js/font-size-adjust.js') }}"></script>
{% endblock js %}
