<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='icons/favicon-32x32.png') }}">
    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="180x180" href="{{ url_for('static', path='icons/apple-touch-icon.png') }}">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>
<header>
    {% block header %}
    {% endblock header %}
</header>
<main>
    {% block main %}
    {% endblock main %}
</main>
<footer>
    {% block footer %}
    {% endblock footer %}
</footer>
</body>
</html>