{% extends 'base.html' %}

{% block title %}
School 30 garden portal homepage
{% endblock title %}

{% block header %}
<div class="header-container">
    <a href="{{ url_for('home') }}" class="logo-link">
        <span class="logo-name">GARDEN</span>
        <span class="logo-number">/30</span>
    </a>
    <div class="menu">
        <img src="{{ url_for('static', path='icons/btn-menu.svg') }}" alt="Image-menu">
    </div>
</div>
{% endblock header %}

{% block animation %}
<div class="animation-container">
    <p>animation-container</p>
</div>
{% endblock animation %}

{% block main %}
<div class="main-container">
    <div class="message-container">
        <p>{{ message.caption }}</p>
        <p>{{ message.text }}</p>
    </div>
    <div class="categories-container">
        <p>trees-container</p>
        <p>bushes-container</p>
        <p>herbs-container</p>
    </div>
</div>
{% endblock main %}

{% block footer %}
<div class="footer-container">

</div>
{% endblock footer %}
