{% extends 'base-user.html' %}

{% block animation %}
<div class="animation-container">
    <p>animation-container</p>
</div>
{% endblock animation %}

{% block main %}
<div class="main-container">
    <div class="message-container">
        <p>{{ message.caption }}</p>
        <p>{{ message.text }}</p>
    </div>
    <div class="categories-container">
        <p>history-container</p>
        <p>trees-container</p>
        <p>bushes-container</p>
        <p>herbs-container</p>
    </div>
</div>
{% endblock main %}
