{% extends 'base-user.html' %}

{% block animation %}
<div class="animation-container">
    <img src="{{ url_for('static', path='images/butterfly-01.svg') }}" alt="butterfly">
</div>
{% endblock animation %}

{% block main %}
<div class="main-container">
    <div class="message">
        <p class="caption title-font">{{ message.caption }}</p>
        <p class="text text-font">{{ message.text }}</p>
    </div>
    <div class="categories-container">
        <p>history-container</p>
        <p>trees-container</p>
        <p>bushes-container</p>
        <p>herbs-container</p>
    </div>
</div>
{% endblock main %}
