:root {
    --nav-bg: #ffffff;
    --nav-black: #36383f;
    --nav-grey: #85888c;
}

.header-container {
    position: sticky;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 0px;
}

.animation-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 0px;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 0px;
}

.message-container {
    max-width: 300px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 0px;
}

.logo {
    display: inline-block;
    transition: transform 0.2s ease;
}

.logo-name {
    color: #000;
    font-size: 44px;
    font-weight: 700;
}

.logo-number {
    color: #000;
    font-size: 17px;
    font-weight: 300;
}

/* Nav menu */
.nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: var(--nav-bg);
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
}
.nav hr {
    color: var(--nav-gray);
}
.menu {
    margin-bottom: 20px;
}
.menu a {
    display: block;
    padding: 20px 0px;
    color: var(--nav-black);
    font-size: 20px;
}
.menu a:hover {
    color: var(--nav-gray);
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 10px 18px;
    position: relative;
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamb-line {
    background: var(--nav-black);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    transform-origin: center;
}
.hamb-line::before,
.hamb-line::after {
    background: var(--nav-black);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before {
    top: 8px;
}
.hamb-line::after {
    top: -8px;
}
.side-menu {
    display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav {
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
     width: 14px;
     height: 4px;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    background: transparent;
}
body:has(.side-menu:checked) {
    overflow: hidden;
}

/* Responsiveness */
@media (min-width: 768px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li {
        float: left;
    }
    .menu a:hover {
        background-color: transparent;
        color: var(--gray);

    }
    .hamb {
        display: none;
    }
    hr {
        display: none;
    }
}
