:root {
    //--nav-bg: #ffffff;
    //--nav-black: #36383f;
    //--nav-grey: #85888c;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 340px;
    line-height: 1.2;
}
.logo-font {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.title-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.text-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

header {
   flex-shrink: 0;
}
.header-container {
    position: sticky;
    height: 60px;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
    margin-bottom: 10px;
    z-index: 100;
}

.visual {
    flex-shrink: 0;
}
.visual-container {
    height: 90px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main {
    flex-shrink: 0;
}
.main-container {
    margin: 0 10px 20px 10px;
}
.main-container .message {
    max-width: 600px;
    margin-bottom: 20px;
}
.main-container .message .caption {
    font-size: 12px;
    color: #bfbfbf;
    margin-bottom: 5px;
}
.main-container .message .text {
    font-size: 18px;
    color: black;
}
.main-container .title {
    font-size: 20px;
}
.main-container .auther {
    font-size: 14px;
}
.main-container .date {
    font-size: 14px;
}
.main-container .content {
    font-size: 16px;
}

/* Logo */
.logo {
    display: inline-block;
    margin-left: 10px;
    letter-spacing: 0.1em;
    transition: transform 0.2s ease;
}
.logo-name {
    color: #000;
    font-size: 46px;
    font-weight: 700;
}
.logo-number {
    display: inline-block;
    color: #000;
    font-size: 17px;
    font-weight: 300;
}
.desktop {
    display: none;
}
@media (min-width: 740px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: inline;
    }
}

/* Nav menu */
nav {
    text-transform: capitalize;
    font-size: 15px;
}
nav ul li {
    position: relative;
    float: left;
}
nav ul li a {
    color: #000;
    display: block;
    padding: 20px 15px;
}
nav ul li a:hover {
    color: #bfbfbf;
}

/* Menu Icon */
.menu {
    position: relative;
    width: 24px;
    height: 20px;
    background: transparent;
    cursor: pointer;
}
input[type=checkbox] {
    display: none;
}
.menu span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #000;
    transition: all 0.3s ease;
}
.menu span:nth-child(1) {
    top: 0;
}
.menu span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
.menu span:nth-child(3) {
    top: 100%;
    transform: translateY(-100%);
}
input:checked ~ label span:nth-child(1) {
    opacity: 0;
}
input:checked ~ label span:nth-child(2) {
    transition: all 0.3s ease;
    height: 3px;
}
input:checked ~ label span:nth-child(3) {
    opacity: 0;
}
.header-container label {
    display: none;
}

/* Responsiveness menu*/
@media (max-width: 940px) {
    nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: calc(100vh - 60px);
        background: #fff;
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }
    nav ul li {
        width: 100%;
    }
    .header-container .menu {
        display: initial;
    }
    #menu:checked ~ nav {
        display: initial;
    }
    .main-container .message {
        max-width: 300px;
    }
}

/* Home animation */
.drawing-svg path {
    stroke: #000;
    stroke-linecap: round;
    fill: none;
    stroke-width: 1px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 4s ease-in-out forwards;
}
@keyframes draw {
    to { stroke-dashoffset: 0; }
}

/* Cards */
.home-cards {
    display: grid;
    gap: 20px;
}
@media (max-width: 767px) {
    .home-cards {
        grid-template-columns: 1fr;
    }
}
@media (min-width: 768px) {
    .home-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1320px) {
    .home-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}
.card {
    width: 100%;
    min-width: 0;
    padding-bottom: 10px;
}
.card .media-container {
    position: relative;
    display: inline-block;
    width: 100%;
}
.card .media-container .media {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
}
.card .media-container .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 28px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.card .title {
    font-size: 12px;
    color: #bfbfbf;
    margin-bottom: 5px;
}
.card .text {
    font-size: 14px;
    color: #000;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    flex: 1;
    background: #efefef;
}
.footer-main {
    margin: 0 10px;
    flex-shrink: 0;
}
.footer-tape {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    min-height: 60px;
}
.marquee span {
    display: inline-block;
    animation: marquee 50s ease-in-out infinite;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.5em;
    padding-left: 100%;
    text-transform: uppercase;
}
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
