:root {
    //--nav-bg: #ffffff;
    //--nav-black: #36383f;
    //--nav-grey: #85888c;
}
.logo-font {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.title-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.text-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.site {
    margin: 0 10px 0 10px;
}
.header-container {
    position: sticky;
    height: 60px;
    top: 0;
    left: 10px;
    right: 10px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
}
.animation-container {
    height: 90px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main-container {

}
.main-container .message {
    max-width: 300px;
}
.main-container .message .caption {
    font-size: 12px;
    color: #bfbfbf;
    margin-bottom: 5px;
}
.main-container .message .text {
    font-size: 18px;
    line-height: 1.2;
    color: black;
    margin-bottom: 15px;
}



.footer-container {

}

/* Logo */
.logo {
    display: inline-block;
    letter-spacing: 0.1em;
    transition: transform 0.2s ease;
}
.logo-name {
    color: #000;
    font-size: 44px;
    font-weight: 700;
}
.logo-number {
    color: #000;
    font-size: 17px;
    font-weight: 300;
}

/* Nav menu */
nav {
    text-transform: capitalize;
    font-size: 16px;
}
nav ul li {
    position: relative;
    float: left;
}
nav ul li a {
    color: #000;
    display: block;
    padding: 20px;
}
nav ul li a:hover {
    background: #000;
    color: #fff;
}

/* Menu Icon */
.menu {
    position: relative;
    width: 24px;
    height: 20px;
    background: transparent;
    cursor: pointer;
}
input[type=checkbox] {
    display: none;
}
.menu span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #000;
    transition: all 0.3s ease;
}
.menu span:nth-child(1) {
    top: 0;
}
.menu span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
.menu span:nth-child(3) {
    top: 100%;
    transform: translateY(-100%);
}
input:checked ~ label span:nth-child(1) {
    opacity: 0;
}
input:checked ~ label span:nth-child(2) {
    transition: all 0.3s ease;
    height: 3px;
}
input:checked ~ label span:nth-child(3) {
    opacity: 0;
}
.header-container label {
    display: none;
}

/* Responsiveness */
@media (max-width: 890px) {
    nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }
    nav ul li {
        width: 100%;
    }
    .header-container .menu {
        display: initial;
    }
    #menu:checked ~ nav {
        display: initial;
    }
}
