:root {
    --nav-bg: #ffffff;
    --nav-black: #36383f;
    --nav-grey: #85888c;
}

.site {
    max-width: 1000px;
    margin: 0 auto;
    // border: 1px solid rgba(0,0,0,.5);
    // border-radius: 10px;
}
.header-container {
    height: 60px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
}
.animation-container {
    height: 100px;
    background-color: yellow;
}
.message-container {
    max-width: 300px;
}
.main-container {

}
.footer-container {

}


.logo {
    display: inline-block;
    transition: transform 0.2s ease;
}
.logo-name {
    color: #000;
    font-size: 44px;
    font-weight: 700;
}
.logo-number {
    color: #000;
    font-size: 17px;
    font-weight: 300;
}

/* Nav menu */
nav {
    text-transform: capitalize;
}

nav ul li {
    position: relative;
    float: left;
}
nav ul li a {
    color: #000;
    display: block;
    padding: 20px;
}
nav ul li a:hover {
    background: #000;
    color: #fff;
}

/* Menu Icon */
.menu {
    position: relative;
    width: 30px;
    height: 20px;
    background: transparent;
    cursor: pointer;
}
input[type=checkbox] {
    display: none;
}
.menu span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: black;
    transition: all 0.3s ease;
    transform-origin: center;
}
.menu span:nth-child(1) {
    top: 0;
}
.menu span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
.menu span:nth-child(3) {
    top: 100%;
    transform: translateY(-100%);
}
input:checked ~ label span:nth-child(1) {
    opacity: 0;
}
input:checked ~ label span:nth-child(2) {
    height: 3px;
    transition: all 0.3s ease;
}
input:checked ~ label span:nth-child(3) {
    opacity: 0;
}
.header-container label {
    display: none;
}

/* Responsiveness */
@media (max-width: 768px) {
    nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: white;
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }
    nav ul li {
        width: 100%;
    }
    .header-container .menu {
        display: initial;
    }
    #menu:checked ~ nav {
        display: initial;
    }
}
